#!/usr/bin/env ruby

############ Compile ############
compile '/images/*/' do
end

compile '/assets/stylesheets/application/' do
  filter :sprockets
end

compile '/assets/javascripts/application/' do
  filter :sprockets
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :erb
    layout 'default'
  end
end

############ Route ############
route '/images/' do
  item.identifier.chop + '.' + item[:extension]
end

route '/assets/stylesheets/application/' do
  '/assets/application.css'
end

route '/assets/javascripts/application/' do
  '/assets/application.js'
end

route '/htaccess/' do
  '/.htaccess'
end

route '*' do
  if item.children.size > 0 || item.identifier == '/'
    item.identifier + 'index.html'
  else
    item.identifier.gsub(/\/$/, '') + '.' + item[:extension]
  end
end

############ Layout ############
layout '*', :erb

