#!/usr/bin/env ruby

require File.expand_path('../config/nanoc', __FILE__)

require 'vendor/filters/imagemagick'

############ Compile ############

compile %r{/assets/images/wine_.+/} do
  filter :imagemagick, resize: '110'
end

compile %r{/assets/images/wine_.+/}, :rep => :standing_thumbnail do
  filter :imagemagick, resize: 'x50'
end

compile %r{/assets/images/wine_.+/}, :rep => :lying_down do
  filter :imagemagick, rotate: '90', resize: '920'
end

compile %r{/assets/(stylesheets|javascripts)/.+/} do
  filter :sprockets, {
    :css_compressor => Nanoc.production? ? :scss : nil,
    :js_compressor => Nanoc.production? ? :uglifier : nil
  }
  snapshot :text
  filter :gzip
end

compile '/wines/*/' do
  filter :erb
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :erb
    layout 'default'
  end
end

############ Route ############

route %r{/assets/images/wine_.+/} do
  Nanoc::Helpers::Sprockets.asset_path(item)
end

route %r{/assets/images/wine_.+/}, :rep => :standing_thumbnail do
  Nanoc::Helpers::Sprockets.asset_path(item, :rep => :standing_thumbnail)
end

route %r{/assets/images/wine_.+/}, :rep => :lying_down do
  Nanoc::Helpers::Sprockets.asset_path(item, :rep => :lying_down)
end

route '/assets/*/', :snapshot => :text do
  Nanoc::Helpers::Sprockets.asset_path(item)
end

route '/assets/*/' do
  Nanoc::Helpers::Sprockets.asset_path(item) + '.gz'
end

route '/htaccess/' do
  '/.htaccess'
end

route '/wines/*/' do
  # do not create page for each wine because it is included in global layout
end

route '*' do
  if item.children.size > 0 || item.identifier == '/'
    item.identifier + 'index.html'
  else
    item.identifier.gsub(/\/$/, '') + '.' + item[:extension]
  end
end

############ Layout ############

layout '*', :erb

