<header class="content">
  <h1>C'est déjà Noël</h1>
  <legend>Profitez des promotions uniques de la cave du Mont-Blanc</legend>
</header>
<a id="anchor_promo"></a>
<article id="promotions">
  <h1>Promotions</h1>
  <section class="items">
  <% wines.each_with_index do |item, index| %>
    <article class="item item_<%= index %>">
      <div class="info">
        <h3><%= item[:name] %></h3>
        <p class="description"><%= item[:from] %>, <%= item[:domain] %>, <%= item[:year] %> - <%= item[:size] %></p>
        <p class="grape"><%= item[:grape] %> <% if item[:grape_from] != nil %> - <%= item[:grape_from] %><% end %></p>
      </div>
      <div class="price_container boxes<%= item[:stock_box] ? nil : ' disable' %>">
        <p>Caisse</p>
        <p class="price"><%= item[:price_box] %></p>
        <div class="out_of_stock"></div>
      </div>
      <div class="price_container bottles<%= item[:stock_bottle] ? nil : ' disable' %>">
        <p>Bouteille</p>
        <p class="price"><%= item[:price_bottle] %></p>
        <div class="out_of_stock"></div>
      </div>
      <img src="<%= item[:image] %>" class="bottle">
    </article>
  <% end %>
  </section>
</article>
<a id="anchor_command"></a>
<article id="command">
  <form action="#">
    <h1>Commander</h1>
    <div id="address">
      <h3>Vos informations</h3>
      <fieldset name="bild_address_fields">
        <input type="text" name="firstname" placeholder="Prénom" class="name">
        <input type="text" name="lastname" placeholder="Nom" class="name">
        <input type="text" name="address" placeholder="Adresse" class="address">
        <input type="text" name="code" placeholder="Code Postal" class="code">
        <input type="text" name="city" placeholder="Ville" class="city">
        <input type="phone" name="phone" placeholder="Téléphone" class="phone">
        <input type="email" name="email" placeholder="Email" class="email"><br />
      </fieldset>
      <label><input type="checkbox" name="delivery_address" value="address_delevery" checked>Cette adresse est mon adresse de livraison</label>
      <fieldset name="delivery_address_fields">
        <input type="text" name="firstname" placeholder="Prénom" class="name">
        <input type="text" name="lastname" placeholder="Nom" class="name">
        <input type="text" name="address" placeholder="Adresse" class="address">
        <input type="text" name="code" placeholder="Code Postal" class="code">
        <input type="text" name="city" placeholder="Ville" class="city">
      </fieldset>
      <div id="condition">
        <h4>Conditions Générales de Vente</h4>
        <p>Une fois la commande passée, vous recevez une facture que nous vous demandons de régler. La livraison ne s'effectuera qu'une fois le facture payée.</p>
      </div>
    </div>
    <div id="order_form">
      <h3>Votre commande</h3>
      <content>
        <% wines.each_with_index do |item, index| %> 
          <article class="item item_<%= index %>">
            <img src="<%= item[:min_image] %>" />
            <div class="info">
              <span class="name"><%= item[:name] %></span><br />
              <span class="description"><%= item[:from] %>, <%= item[:domain] %>, <%= item[:year] %> - <%= item[:size] %></span>
            </div>
            <div class="price_container boxes<%= item[:stock_box] ? nil : ' disable' %>">
              <span class="label">Caisse</span>
              <span class="price"><%= item[:price_box] || '&nbsp;' %></span>
              <input type="number" name="bottle" placeholder="Qte" class="field"<%= item[:stock_box] ? nil : ' disabled' %>>
              <div class="out_of_stock"></div>
            </div>
            <div class="price_container bottles <%= item[:stock_bottle] ? nil : ' disable' %>">
              <span class="label">Bouteille</span>
              <span class="price"><%= item[:price_bottle] || '&nbsp;' %></span>
              <input type="number" name="bottle" placeholder="Qte" class="field"<%= item[:stock_bottle] ? nil : ' disabled' %>>
              <div class="out_of_stock"></div>
            </div>
          </article>
        <% end %>
        <div class="buttons">
          <label class="agree"><input type="checkbox" name="accept_conditions" value="false"> J'ai lu et adhéré aux conditions générales</label>
          <input type="submit" value="Envoyer" class="submit">
        </div>
      </content>
    </div>
  </form>
</article>
<a id="anchor_contact"></a>
<article id="contact">
  <h1>Nous trouver</h1>
  <div id="info_contact">
    <p>Nous disposons d'une grande palette de vins italiens
    et français et sommes en mesure de satisfaire vos
    exigences. N'hésitez donc pas à nous contacter.</p><br />
    <address>
      <p>La cave Mont-blanc</p>
      <p>Avenue de Cour 6A</p>
      <p>1007 Lausanne</p><br />
      <p id="phone_number">+41 (0)21 616 92 92</p>
      <p id="mail_address">cavedumontblanc@citycable.ch</p>
    </address>
  </div>
  <div id="google_map">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ch/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;iwloc=&amp;q=Avenue+de+Cour+6A&amp;aq=&amp;sll=46.362093,9.036255&amp;sspn=6.709668,16.907959&amp;ie=UTF8&amp;hq=&amp;hnear=Avenue+de+Cour+6A,+1007+Lausanne,+Vaud&amp;t=m&amp;ll=46.511094,6.62673&amp;spn=0.020674,0.036478&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ch/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Avenue+de+Cour+6A&amp;aq=&amp;sll=46.362093,9.036255&amp;sspn=6.709668,16.907959&amp;ie=UTF8&amp;hq=&amp;hnear=Avenue+de+Cour+6A,+1007+Lausanne,+Vaud&amp;t=m&amp;ll=46.511094,6.62673&amp;spn=0.020674,0.036478&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
</article>
<footer>
  <p>© 2012 La cave du Mont-Blanc. All Rights Reserved. Site développé par <a href="http://www.liquid-concept.ch">Liquid Concept</a></p>
</footer>