<header class="content">
  <h2>Les vins du mois</h2>
  <legend>Profitez des promotions uniques de la cave du Mont-Blanc</legend>
  <div id="social_media">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FCaveduMontBlanc&amp;send=false&amp;  layout=box_count&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:90px;" allowTransparency="true" id="like_button"></iframe>
    <form action="http://lconcept.createsend.com/t/r/s/jykttkd/" method="post" id="subForm">
      <div>
        <p>Recevez nos offres du mois :</p>
        <input type="text" name="cm-jykttkd-jykttkd" id="jykttkd-jykttkd" class="field_email" />
        <input type="submit" value="Envoyer" class="submit" />
        <p id="error_message"></p>
      </div>
    </form>
    <div id="success_message"></div>
  </div>
</header>
<article id="promotions">
  <h2>Promotions</h2>
  <section class="slider_balls">
    <ul>
      <% wines.each_with_index do |item, index| %>
        <li class="ball item_<%= index %><%= index == 0 ? ' active' : nil %>"><a href="#"></a></li>
      <% end %>
   </ul>
  </section>
  <section class="items">
    <% wines.each_with_index do |item, index| %>
      <article class="item item_<%= index %>">
        <div class="info">
          <h3><%= item[:name] %></h3>
          <p class="description"><%= item[:from] %>, <%= item[:domain] %>, <%= item[:year] %> - <%= item[:size] %></p>
          <p class="grape"><%= item[:grape] %> <% if item[:grape_from] != nil %> - <%= item[:grape_from] %><% end %></p>
        </div>
        <div class="price_container boxes<%= item[:stock_box] ? nil : ' disable' %>">
          <p>Caisse</p>
          <p class="price"><%= item[:price_box] %></p>
          <div class="out_of_stock"></div>
        </div>
        <div class="price_container bottles<%= item[:stock_bottle] ? nil : ' disable' %>">
          <p>Bouteille</p>
          <p class="price"><%= item[:price_bottle] %></p>
          <% if item[:price_bottle_instead_of] != nil %>
            <p class="price_instead_of"><span>au lieu de </span><%= item[:price_bottle_instead_of] %></p>
          <% end %>
          <div class="out_of_stock"></div>
        </div>
        <img src="<%= wine_image_path item, :rep => :lying_down %>" class="bottle">
      </article>
    <% end %>
  </section>
</article>
<article id="command">
  <h2>Commander</h2>
  <form method="post" action="/command">
    <div id="address">
      <h3>Vos informations</h3>
      <fieldset name="bild_address_fields">
        <input type="text" name="bild_address[firstname]" placeholder="Prénom" class="name" required />
        <input type="text" name="bild_address[lastname]" placeholder="Nom" class="name" required />
        <input type="text" name="bild_address[address]" placeholder="Adresse" class="address" required />
        <input type="text" name="bild_address[code]" placeholder="Code Postal" class="code" required />
        <input type="text" name="bild_address[city]" placeholder="Ville" class="city" required />
        <input type="phone" name="bild_address[phone]" placeholder="Téléphone" class="phone h5-phone" required />
        <input type="email" name="bild_address[email]" placeholder="Email" class="email h5-email" required />
      </fieldset>

      <label><input type="checkbox" name="delivery_address_same_bild" value="true" id="delivery_address" checked>Cette adresse est mon adresse de livraison</label>

      <fieldset name="delivery_address_fields" id="delivery_address_fields">
        <input type="text" name="delivery_address[firstname]" placeholder="Prénom" class="name" />
        <input type="text" name="delivery_address[lastname]" placeholder="Nom" class="name" />
        <input type="text" name="delivery_address[address]" placeholder="Adresse" class="address" />
        <input type="text" name="delivery_address[code]" placeholder="Code Postal" class="code" />
        <input type="text" name="delivery_address[city]" placeholder="Ville" class="city" />
      </fieldset>

      <div class="conditions">
        <h4>Conditions Générales de Vente</h4>
        <p>Une fois la commande passée, vous recevez une facture que nous vous demandons de régler. La livraison ne s'effectuera qu'une fois la facture payée.</p>
      </div>
    </div>
    <div id="order_form">
      <h3>Votre commande</h3>
      <section>
        <% wines.each_with_index do |item, index| %> 
          <article class="item item_<%= index %>">
            <img src="<%= wine_image_path item, :rep => :standing_thumbnail %>" />
            <div class="info">
              <span class="name"><%= item[:name] %></span>
              <span class="description"><%= item[:from] %>, <%= item[:domain] %>, <%= item[:year] %> - <%= item[:size] %></span>
            </div>
            <div class="prices_container">
              <div class="price_content boxes<%= item[:stock_box] ? nil : ' disable' %>">
                <span class="label">Caisse <sup><%= wine_box_sizes[item[:box_size]] %></sup></span>
                <span class="price"><%= item[:price_box] || '&nbsp;' %></span>
                <input type="number" name="box[<%= item[:name] %>]" placeholder="Qte" class="field"<%= item[:stock_box] ? nil : ' disabled' %>>
                <div class="out_of_stock"></div>
              </div>
              <div class="price_content bottles<%= item[:stock_bottle] ? nil : ' disable' %>">
                <span class="label">Bouteille</span>
                <span class="price"><%= item[:price_bottle] || '&nbsp;' %></span>
                <input type="number" name="bottle[<%= item[:name] %>]" placeholder="Qte" class="field"<%= item[:stock_bottle] ? nil : ' disabled' %>>
                <div class="out_of_stock"></div>
              </div>
            </div>
          </article>
        <% end %>

        <div class="box_sizes">
          <% wine_box_sizes.each do |box_size, ref| %>
            <span><%= ref %>. <%= box_size %></span><br />
          <% end %>
        </div>

        <div class="promo">
          <input type="text" name="code_promo" placeholder="Code promo" class="field" />
        </div>

        <div class="buttons">
          <label class="agree"><input type="checkbox" name="accept_conditions" value="true"><span>J'ai lu et adhéré aux conditions générales</span></label>
          <input type="submit" value="Envoyer" class="submit">
        </div>
      </section>
    </div>
  </form>
</article>
<article id="contact">
  <h2>Nous trouver</h2>
  <div class="infos">
    <p>Nous disposons d'une grande palette de vins italiens
    et français et nous sommes en mesure de satisfaire vos
    exigences. N'hésitez donc pas à nous contacter.</p>
    <p>La cave du Mont-blanc</p>
    <p>Avenue de Cour 6A</p>
    <p>1007 Lausanne</p>
    <p class="phone">+41 (0)21 616 92 92</p>
    <p class="email"><a href="mailto:cavedumontblanc@citycable.ch">cavedumontblanc@citycable.ch</a></p>
    <p class="horaires">Horaires</p>
    <p>Lun: fermé</p>
    <p>Mar-Ven: 9h-12h | 14h-19h</p>
    <p>Sam: 9h-17h</p>
    <p>Dim: fermé</p>
  </div>
  <div class="maps">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ch/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;iwloc=&amp;q=Cave+du+Mont-Blanc,+Avenue+de+Cour,+Lausanne&amp;aq=0&amp;oq=Cave+d&amp;sll=46.512244,6.626392&amp;sspn=0.010632,0.021007&amp;g=Avenue+de+Cour+6A,+1007+Lausanne,+Vaud&amp;ie=UTF8&amp;hq=Cave+du+Mont-Blanc,&amp;hnear=Avenue+de+Cour,+Lausanne,+Vaud&amp;ll=46.512246,6.626387&amp;spn=0.006389,0.017489&amp;t=m&amp;output=embed"></iframe><br /><small><a href="http://maps.google.ch/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Cave+du+Mont-Blanc,+Avenue+de+Cour,+Lausanne&amp;aq=0&amp;oq=Cave+d&amp;sll=46.512244,6.626392&amp;sspn=0.010632,0.021007&amp;g=Avenue+de+Cour+6A,+1007+Lausanne,+Vaud&amp;ie=UTF8&amp;hq=Cave+du+Mont-Blanc,&amp;hnear=Avenue+de+Cour,+Lausanne,+Vaud&amp;ll=46.512246,6.626387&amp;spn=0.006389,0.017489&amp;t=m" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
</article>
