@import "compass/reset";
@import "compass/css3";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/horizontal-list";

@import url(http://fonts.googleapis.com/css?family=Questrial);

/*----------------------------------------*/
/*                 COLOR                  */
/*----------------------------------------*/ 

$grey: #A6A6A6;
$white: #FFF;
$black: #000;
$dark_grey: #393939;
$dark_blue: #212A45;
$red: #861C30;
$light_red: lighten($red, 60%);
$green: #3A7C1A;

/*----------------------------------------*/
/*                MIXINS                  */
/*----------------------------------------*/

@mixin disable-box($disable_image) {
  &.disable {
    * {
      @include opacity(0.6);
    }

    [disabled] {
      @include opacity(1);
    }

    .out_of_stock {
      @include opacity(1);
      width: image-width($disable_image);
      height: image-height($disable_image);
      position: absolute;
      top: 0px;
      left: 50%;
      margin-left: -(image-width($disable_image) / 2);
      display: block;
      background: inline-image($disable_image) top no-repeat;
      z-index: 10;
    }
  }
}

/*----------------------------------------*/
/*                OVERLAY                 */
/*----------------------------------------*/

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.background {
      background: $grey;
      @include opacity(0.2);
    }

    &.loader {
      background: inline-image('loader.gif') center no-repeat;
    }
  }

}

/*----------------------------------------*/
/*                DEFAULT                 */
/*----------------------------------------*/ 

body {
  color: $dark_grey;
  font-family: 'Questrial', sans-serif;

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  h5 {
    font-size: 1.2em;
    color: $white;
  }

  p, legend {
    text-align: justify;
  }

  a {
    color: $dark_grey;
    text-decoration: none;
  }

  a:hover {
    color: $red;
  }

  span, label {
    font-size: 0.8em; 
    text-align: justify;
  }

  input, input:focus {
    border: 1px solid $grey;
  }

  .ui-state-error {
    border: 1px solid $red;
    padding: 1px;
    background-color: $light_red;

    &:focus {
      background-color: $white;
      border: 1px solid $grey;
    }

    + span {
      color: $red;
      text-decoration: underline;
    }
  }

  .ui-state-valid {
    border: 1px solid $green;
    padding: 1px;
    background-color: $white;

    + span {
      color: $green;
    }
  }

  .placeholder {
    color: $grey;
  }
}

/*----------------------------------------*/
/*                  MAIN                  */
/*----------------------------------------*/ 

section.main {
  width: 960px;
  margin: 0 auto;
  position: relative;

  header.main {
    h1 {
      @include replace-text-with-dimensions('logo_cave_du_mont-blanc.png', 50%, 50%, true);
      float: left;
      margin: 10px 0;
    }

    @include pie-clearfix;
  }
  nav {
    margin: 10px 0px 10px 0px;
    float: right;

    ul {
      @include horizontal-list;
      margin-top: 10px;

      li {
        border-left: 1px solid $dark_grey;

        &:first-child {
          border-left: none;
        }
      }
    }
  }
}

/*----------------------------------------*/
/*             CONTENT HEADER             */
/*----------------------------------------*/

header.content {
  $padding-top: 100px;
  height: image-height('wine_header.jpg') - $padding-top;
  border-top: 1px solid $grey;
  background: inline-image('wine_header.jpg') bottom right no-repeat;
  padding: $padding-top 0 0 20px;

  legend {
    font-size: 1.3em;
  }
}

/*----------------------------------------*/
/*              PROMOTIONS                */
/*----------------------------------------*/

#promotions {
  display: block;
  height: 379px;
  padding: 20px 20px 0px 20px;
  border-top: 1px solid $grey;
  overflow: hidden;

  h2 {
    display: inline-block;
  }

  .slider_balls {
    float: right;
    margin-top: 8px;

    ul {
      @include horizontal-list(5px);

      a {
        display: block;
        width: 10px;
        height: 10px;
        background-color: $grey;
        @include border-radius(5px, 5px);

      }

      .ball.active a, a:hover {
        background-color: $dark_grey;
      }
    }
  }

  .items {
    position: relative;
    display: block;
  }

  .item {
    position: absolute;
    background-color: white;
    top: 0px;
    left: 0px;
    height: 379px;
    width: 100%;
    display: block;
    margin-top: 30px;
    cursor: pointer;

    .info {
      width: 550px;
      float: left;

      h3 {
        color: $red;
      }

      .description {
        font-size: 1.2em;
        margin-top: 8px;
      }

      .grape {
        font-size: 1em;
        margin-top: 8px;
      }
    }

    .price_container {
      width: 150px;
      position: relative;
      float: right;
      padding-top: 20px;
      padding-right: 10px;

      &.bottles {
        border-right: 1px solid $grey; 
      }

      p {
        font-size: 1.2em;
        text-align: center;
        margin-bottom: 5px;
      }

      .price {
        color: $red;
      }

      @include disable-box('disable.png');
    }

    .bottle {
      position: absolute;
      bottom: -40px;
      left: 0px;
    } 
  }
}

/*----------------------------------------*/
/*                COMMAND                 */
/*----------------------------------------*/

#command {
  height: 479px;
  padding: 20px 20px 0px 20px;
  border-top: 1px solid $grey;

  h3 {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #address {
    width: 48%;
    height: 410px;
    float: left;
    position:relative;

    #border-box {
      @include box-sizing(border-box);
    }

    .name {
      width: 176px; 
      margin-bottom: 4px;
    }

    .address {
      width: 356px;
      margin-bottom: 4px;
    } 

    .code {
      width: 90px;
      margin-bottom: 4px;
    }

    .city {
      width: 262px;
      margin-bottom: 4px;
    }

    .phone {
      width: 176px;
    }

    .email {
      width: 176px;
    }

    [name=delivery_address_fields] {
      display: none;
    }

    #condition {
      margin-top: 30px;
      position: absolute;
      bottom: 0px;

      p {
        font-size: 0.8em;
        padding-right: 20px;
      }
    }
  }

  #order_form {
    width: 48%;
    float: right;
    padding-left: 20px;
    border-left: 1px solid $grey;

    article {
      width: 100%;
      margin-bottom: 5px;
      @include pie-clearfix;

      > img {
        display: block;
        float: left;
        cursor: pointer;
      }

      .info {
        display: block;
        float: left;
        height: 50px;
        cursor: pointer;
        width: 270px;

        span {
          display: block;
          padding-left: 20px;
          font-size:  0.7em;

          &.name {
            font-size: 1.2em;
            color: $red;
          }
        }
      }

      .prices_container {
        float: right;
        width: 150px;

        .price_content {
          margin-left: 10px;
          position: relative;
          width: 65px;
          float: right;

          span, input {
            position: relative;
            display: block;
            width: 100%;
            font-size: 0.7em;
            line-height: 15px;

            &.price {
              color: $red;
            }

            &.field {
              width: 60px;
            }
          }

          @include disable-box('min_disable.png');
        }
      }
    }

    .buttons {
      position: relative;
      clear: both;
      height: 50px;

      .agree {
        position: absolute;
        bottom: 0px;
        left: 0px;

        span {
          font-size: 0.9em; 
        }
      }

      .submit {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 143px;
        height: 30px;
        color: $white;
        background-color: $red;
        border: 1px solid $grey;
      }
    }
  }

  &.success {
    p {
      display: block;
      margin: 100px auto 0px auto;
      text-align: center;
      font-size: 2em;
    }
  }
}

/*----------------------------------------*/
/*                CONTACT                 */
/*----------------------------------------*/

#contact {
  height: 379px;
  padding: 20px 20px 0px 20px;
  border-top: 1px solid $grey;

  #info_contact {
    width: 430px;
    margin-top: 20px;
    float: left;
  }

  #google_map {
    height: 300px;
    margin-top: 20px;
    overflow: hidden;
    float: right;
  }
}

/*----------------------------------------*/
/*                 FOOTER                 */
/*----------------------------------------*/

footer {
  height: 50px;
  padding: 20px 20px 0px 20px;
  border-top: 1px solid $grey;

  p {
    width: 550px;
    font-size: 0.8em;
    margin: 0 auto;
  }
}

/*----------------------------------------*/
/*                DETAILS                 */
/*----------------------------------------*/

#details {
  position: relative;
  display: none;
  width: 960px;
  margin: 50px auto 0 auto;
  border: 1px $red solid;
  background-color: $white;
  z-index: 1000;

  .close {
    font-family:'Questrial', sans-serif;
    font-size: 2em;
    color: $red;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 1010;
  }

  article.item {
    $width: 900px;
    $padding: (960px - $width) / 2;
    width: $width;
    padding: $padding;
    display: none;
    position: relative;
    z-index: 1005;
    @include pie-clearfix;

    .info {
      > * {
        float: left;
        width: $width - 110px - $padding;
      }

      img {
        width: 110px;
        padding-right: $padding;
      }

      h3 {
        color: $red;
        padding-bottom: 10px;
      }

      .description {
        padding-bottom: $padding;

        p {
          padding-bottom: 7px;
        }
      }

      .technical_sheet {
        float: right;

        table {
          width: 100%;

          tr:first-child {
            background-color: $red;
            height: 40px;

            th {
              background-color: $red;
              padding: 10px;
              font-size: 1.2em;
              color: $white;
              font-family: 'Questrial', sans-serif;
            }
          }

          td {
            width: 50%;
            padding: 2px 0px;

            .label {
              color: $red;
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}

