---
key: barbera_alba
name: Barbera d’Alba doc
from: Piémont, Italie
domain: Beni di Batasiolo
year: 2010
grape: Barbera
size: 75cl
degree: 16°C - 18°C
agreement: 
aging_potential: 
price_bottle: 9.00 CHF
price_bottle_instead_of:
price_box: 54.00 CHF
stock_bottle: true
stock_box: true
box_size:
order: 9
archive: true
---
<% render 'wine' do %>
  <p>Ce vin a la couleur rouge rubis est profond, vigoureux. Il a un nez persistant et un goût sec et corsé.  Le vin offre des notes intenses de cerise au marasquin, de muscade et une légère odeur de terre de la région de Barbera di Langa.</p>

  <p>Fondée en 1978 par la famille Dogliani, l'entreprise est aujourd'hui le plus grand producteur de la région des Langhe, avec plus de 107 vignobles qui produisent l'un des meilleurs crus du Piémont. La société est dirigée par un expérimenté œnologue Paolo Pronzato, dont le défi est de faire le meilleur vin Langhe avec l'aide de sa longue expérience et des dernières technologies.</p>
<% end %>