---
key: celeste
name: Celeste
from: Castille et Léon, Espagne
domain: Miguel Torres, Ribera del Duero
year: 2010
grape: Tempranillo
size: 75cl
degree: 16°C - 19°C
agreement: 
aging_potential: 6 à 8 ans
price_bottle: 15.00 CHF
price_bottle_instead_of:
price_box: 90.00 CHF
stock_bottle: true
stock_box: true
box_size:
order: 10
archive: true
---
<% render 'wine' do %>
  <p>Ce Vin d’Espagne au nom qui évoque la voûte céleste est élevé à près de 900 mètres d’altitude, tout près des étoiles en quelque sorte sur les flans de la Ribera del Duero par la famille Torres.</p>

  <p>Torres Celeste Ribera Del Duero DO sont des vins qui se caractérisent par leur parfums fruités et réglissés. Le climat chaud, sec et montagneux permettent aux vignes de produire des vins séduisants, complexes et charmeurs.</p>

  <p>Vous pourrez facilement accorder ce magnifique vin d’Espagne avec Tapas, des Viandes rouges, des Viandes en sauce, de la Cuisine méditerranéenne, Pastillas, Tajines, Pizzas et Fromages…</p>
<% end %>