---
key: dolcetto_alba
name: Dolcetto d’Alba
from: Piémont, Italie
domain: Poderi Colla SS
year: 2011
grape: Dolcetto
size: 75cl
degree: 16°C - 18°C
agreement: 
aging_potential: 3 à 5 ans
price_bottle: 10.50 CHF
price_bottle_instead_of:
price_box: 63.00 CHF
stock_bottle: true
stock_box: true
box_size:
order: 11
archive: true
---
<% render 'wine' do %>
  <p>Robe exhibant une couleur rouge cerise plutôt profond. Nez qui s'ouvre sur de subtiles notes empyreumatiques et fruitées. Il évoque aussi des effluves d'encens. Ce rouge sec manifeste une bonne vivacité et est muni de tannins charnus. Fidèle aux effluves perçus à l'olfaction, il évoque des flaveurs de fruits rouges mûrs, de cacao et de violette. Révélant une texture ample, il est assez persistant en finale.</p>
<% end %>