---
key: esmeralda
name: Viña Esmeralda
from: Catalogne, Espagne
domain:  Miguel Torres, Penedès
year: 2011/12
grape: Muscat, Gewürztraminer
size: 75cl
degree: 8°C - 10°C
agreement: 
aging_potential: Prêt à boire
price_bottle: 9.00 CHF
price_bottle_instead_of:
price_box: 90.00 CHF
stock_bottle: true
stock_box: true
box_size:
order: 12
archive: true
---
<% render 'wine' do %>
  <p>Robe arborant une couleur jaune vert plutôt intense. Nez où dominent des notes florales et fruitées. Il évoque également de subtiles notes épicées. Découvrez ce blanc demi-sec démontrant une bonne acidité. Fidèle aux arômes perçus à l'olfaction, il s'affirme par des flaveurs de fruits exotiques et de melon. Sa texture mince se termine dans une finale assez persistante</p>
<% end %>