---
key: gevrey_chambertin
name: Gevrey-Chambertin
from: Côte de Beaune, Bourgogne
domain: Faiveley
year: 2007
grape: 100% Pinot Noir
size: 75cl
degree: 14°C à 16°C
agreement: viandes blanches
aging_potential: 5 à 7 ans
price_bottle: 43.50 CHF
price_box: 260.00 CHF
stock_bottle: true
stock_box: true
order: 5
---
<% render 'wine' do %>
  <p>La vendange, récoltée à la main, es! viniﬁée pour Faivcley. Notre oenologue déguste
  chaque cuvée et ne retient que les meilleurs vins, provenant de producteurs de confiance.</p>

  <p>Les vins sont ensuite élevés en fûts de chêne dans des caves voûtées du XIXème siècle
  qui offrent des conditions d'élevage idéales, d'une durée de 14 à 16 mois pour ce vin.
  La proportion de fûts neufs, qui est susceptible de varier selon les millésimes, représente
  en moyenne un tiers de la cuvée. Ces fûts, qui proviennent de tonneliers de qualité, ont
  été rigoureusement sélectionnés pour leur grain fin et leur chauffe légère.</p>

  <p>Robe brillante, rubis foncé. Le nez expressif et complexe offre des arômes de fruits
  rouges accompagnés de notes boisées. On retrouve en bouche ces mêmes saveurs, bien
  enrobées par des tanins délicatement fondus. Ce Gevrey-Chambertin se montre parfaitement
  équilibré et reflète de belle manière toute l'élégance du Pinot Noir.</p>
<% end %>
