---
key: grignolino_asti
name: Grignolino d’Asti doc
from: Piémont, Italie
domain: Braida
year: 2011/12
grape: Grignolino
size: 75cl
degree: 10°C - 12 °C 
agreement: 
aging_potential: 3 à 5 ans
price_bottle: 12.50 CHF
price_bottle_instead_of:
price_box: 75.00 CHF
stock_bottle: true
stock_box: true
box_size: 
order: 13
archive: true
---
<% render 'wine' do %>
  <p>Le Grignolino est un des vins typiques du Piémont et sa valeur augmente du fait de sa production limitée. Son nom dérive du mot patois “grignola” utilisé pour définir les 
pépins, dont les grains sont particulièrement riches par rapport aux autres variétés.</p>

  <p>Robe rouge rubis très clair. Bouquet floral et très délicat, aux senteurs caractéristiques de rose. Goût très frais et sapide, fin et continu, la note de rose est aussi perçue dans la bouche. </p>

  <p>Vin pour tout repas, particulièrement délicat, indiqué pour accompagner les hors-d’œuvre, les soupes et les poissons.</p>
<% end %>
