---
key: masseto
name: Masseto
from: Toscane
domain: Tenuta dell'Ornellaia
year: 2009
grape: 100% Merlot
size: 75cl
degree: 16°C - 18°C
agreement: Viandes rouges, gibiers, volaille
aging_potential: 8 à 15 ans
price_bottle: 420.00 CHF
price_bottle_instead_of:
price_box: 
stock_bottle: true
stock_box: false
box_size:
order: 7
---
<% render 'wine' do %>
  <p>Le Masseto 2009 est l'expression d'une saison particulièrement chaude croissante
  qui présentait toutes les qualités nobles d'un grand terroir. Travailler en harmonie
  avec le sol argileux de la vigne Masseto, nous avons réussi à atteindre l'équilibre,
  la précision et la complexité aromatique qui sont classiques pour tous les grands vins.</p>

  <p> Une teinte sombre impressionnante, le Masseto 2009 reflète son millésime, présentant
  des impressions intenses de cerise mûre, de chocolat, d'épices et de café. Profond et
  plein de volume en bouche, il offre des fruits explosifs, et des tanins qui sont brillants
  et fermes.</p>
<% end %>
