---
key: ornellaia
name: Ornellaia Bolgheri
from: Toscane
domain: Tenuta dell'Ornellaia
year: 2009
grape: 52% Cabernet Sauvignon, 22% Merlot, 21% Cabernet Franc, 5% Petit Verdot 
size: 75cl
degree: 16°C - 18°C
agreement:
aging_potential: 8 à 16 ans
price_bottle: 120.00 CHF
price_bottle_instead_of: 150.00 CHF
price_box: 720.00 CHF
stock_bottle: true
stock_box: true
order: 3
---
<% render 'wine' do %>
  <p>La Tenuta dell'Ornellaia a été fondée en 1981 par le marquis Lodovico Antinori, lorsqu'il décida de créer une nouvelle propriété dans la superbe région côtière de Toscane appelée Maremma. Les cépages Cabernet-Sauvignon, Cabernet-Franc, Merlot et Petit-Verdot composent le vin d'Ornellaia, car ce sont les cépages les plus appropriés au micro-climat de Bolgheri.</p>

  <p>En l'espace de quelques années à peine, les vins d'Ornellaia ont réussi l'exploit de devenir une des références incontournables en matière de vins toscans. Actuellement, la propriété de la Tenuta dell'Ornellaia s'étend sur 91 hectares dont 76 de vignes.</p>
<% end %>