---
key: saint_amour
name: Saint-Amour
from: Bourgogne
domain: Georges et Franck Duboeuf
year: 2011
grape: Gamay
size: 75cl
degree: 12° - 18°
agreement:
aging_potential:
price_bottle: 14.50 CHF
price_bottle_instead_of:
price_box: 174.00 CHF
stock_bottle: true
stock_box: true
box_size: 12 bouteilles livrées + 2 offertes
order: 1
---
<% render 'wine' do %>

  <p class="promo_box">Caisse de 12 bouteilles livrées + 2 offertes</p>

  <p>Avant l'arrivée du Régnié en 1988, c'est le dernier né des crus du Beaujolais, consacrant ainsi les années de travail de Louis Dailly pour le faire agréer par l'INAO.
  Le Saint-Amour est entièrement produit en Saône et Loire.</p>

  <p>L'origine du nom est très contreversée et n'est pas déterminée avec certitude. Elle peut avoir son origine dans le nom d'un légionnaire romain "Amore" qui, converti au christianisme, fût martyrisé dans la région au IVème siècle.</p>

  <p>Il se dit également que de joyeux chanoines, qui appréciaient le bon vin, exerçaient aussi certains droit féodaux, notamment celui de "cuissage" d'où l'appellation du village.

  Dégustation : c'est un vin fin et délicat, offrant des parfums de pêche, de framboise et de réséda.</p>
<% end %>