<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>La cave du Mont-Blanc - Vins Italiens de grandes qualités - Lausanne, Montreux, Riviera</title>
    <meta name="description" content="Nous disposons d'une grande palette de vins italiens et français et sommes en mesure de satisfaire vos exigences. N'hésitez donc pas à nous contacter." />
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>" media="screen">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2241355-18']);
    </script>
    <script src="<%= javascript_path 'application' %>"></script>
  </head>
  <body>
    <section class="main">
      <header class="main">
        <h1>La cave du Mont-Blanc - vins italiens de grand qualités - Lausanne, Montreux, Riviera</h1>
        <nav>
          <ul>
            <li><a href="#promotions">Promotions</a></li>
            <li><a href="#command">Commander</a></li>
            <li><a href="#contact">Nous trouver</a></li>
          </ul>
        </nav>
      </header>
      <section class="content">
        <%= yield %>
      </section>
      <footer class="main">
        <p>© 2012 La cave du Mont-Blanc. All Rights Reserved. Site développé par <a href="http://www.liquid-concept.ch">Liquid Concept</a></p>
      </footer>
    </section>
    <section id="details">
      <div class="close">x</div>
      <% wines.each_with_index do |item, index| %>
        <article class="item item_<%= index %>">
          <%= item.compiled_content %>
        </article>
      <% end %>
    </section>
    <script type="text/javascript">
      var wines = {};
      <% wines.each_with_index do |item, index| %>
        wines['<%= item[:key]%>'] = {
          key: '<%= item[:key] %>',
          index: <%= index %>,
          name: '<%= item[:name] %>',
          order: <%= item[:order] %>
        };
      <% end %>

      <% if Nanoc.production? %>
        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
      <% end %>
    </script>
  </body>
</html>
