@import "compass/reset";
@import "compass/css3";

/*----------------------------------------*/
/*                 COLOR                  */
/*----------------------------------------*/ 

$dark_blue: #212A45;

/*----------------------------------------*/
/*                DEFAULT                 */
/*----------------------------------------*/ 

body {
  h1 {
    font-size: 2em;
    color: $dark_blue;
  }
}